<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Error 404</title>
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Molla - Bootstrap eCommerce Template"/>
    <meta name="author" content="p-themes"/>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/icons/favicon-16x16.png"/>
    <link rel="manifest" href="../static/images/icons/site.html"/>
    <link rel="mask-icon" href="../static/images/icons/safari-pinned-tab.svg" color="#666666"/>
    <link rel="shortcut icon" href="../static/images/icons/favicon.ico"/>
    <meta name="apple-mobile-web-app-title" content="Molla"/>
    <meta name="application-name" content="Molla"/>
    <meta name="msapplication-TileColor" content="#cc9966"/>
    <meta name="msapplication-config" content="../assets/images/icons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>

<body>
<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            <a href="#">連結</a>
                            <ul>
                                <li>
                                    <a href="{{url_for('about')}}">關於我們</a>
                                </li>
                                <li>
                                    <a href="{{url_for('contact')}}">聯絡我們</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('dashboard') }}"><i class="icon-user"></i>
                                        <p>
                                            {% if username != None %}
                                            {{ username }}
                                            {% else %}
                                            登入
                                            {% endif %}
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End .top-menu -->
                </div>
                <!-- End .header-right -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="{{url_for('index')}}" class="logo"><img src="../static/images/logo.png" alt="Molla Logo" width="105"
                                                           height="25"/></a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li>
                                <a href="{{url_for('index')}}" class="sf-with-ul">主頁</a>
                                <!--TODO(edit nav li css without >)-->
                                <ul>
                                    <li><a href="{{url_for('index')}}">前往主頁</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{url_for('shop')}}" class="sf-with-ul">商店</a>
                                <ul>
                                    <li><a href="{{url_for('shop')}}">前往商店</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">相關資訊</a>

                                <ul>
                                    <li><a href="{{url_for('about')}}">關於我們</a></li>
                                    <li><a href="{{url_for('contact')}}">聯絡我們</a></li>
                                    <li><a href="{{url_for('faq')}}">常見問題</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div>
                <!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                       required/>
                            </div>
                            <!-- End .header-search-wrapper -->
                        </form>
                    </div>
                </div>
                <!-- End .header-right -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .header-middle -->
    </header>
    <!-- End .header -->

    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{url_for('index')}}">主頁</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">404</li>
                </ol>
            </div>
            <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="error-content text-center" style="background-image: url(../static/images/backgrounds/error-bg.jpg)">
            <div class="container">
                <h1 class="error-title">錯誤 ! 太難過了 . . . . . . </h1><!-- End .error-title -->
                <p>很抱歉，您要求的頁面不可用。</p>
                <a href="{{url_for('index')}}" class="btn btn-outline-primary-2 btn-minwidth-lg">
                    <span>回到主頁</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .error-content text-center -->
    </main>
    <!-- End .main -->

    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="../static/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                 height="25"/>
                            <p>頂級棉被經銷商</p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                        class="icon-pinterest"></i></a>
                            </div>
                            <!-- End .soial-icons -->
                        </div>
                        <!-- End .widget about-widget -->
                    </div>
                    <!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">相關資訊</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li>
                                    <a href="{{url_for('about')}}">關於我們</a>
                                </li>
                                <li>
                                    <a href="{{url_for('faq')}}">常見問題</a>
                                </li>
                                <li>
                                    <a href="{{url_for('contact')}}">聯絡我們</a>
                                </li>
                            </ul>
                            <!-- End .widget-list -->
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">我的帳號</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li>
                                    <a href="{{url_for('login')}}">會員管理</a>
                                </li>
                                <li>
                                    <a href="{{url_for('cart')}}">查看購物車</a>
                                </li>
                            </ul>
                            <!-- End .widget-list -->
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .col-sm-6 col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2024 Mirai. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="../static/images/payments.png" alt="Payment methods" width="272" height="20"/>
                </figure>
                <!-- End .footer-payments -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .footer-bottom -->
    </footer>
    <!-- End .footer -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                   required/>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="{{url_for('index')}}">首頁</a>

                    <ul>
                        <li><a href="{{url_for('index')}}">回到首頁</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{url_for('shop')}}">商店</a>
                    <ul>
                        <li><a href="{{url_for('shop')}}">前往商店</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">相關資訊</a>
                    <ul>
                        <li><a href="{{url_for('about')}}">關於我們</a></li>
                        <li><a href="{{url_for('contact')}}">聯絡我們</a></li>
                        <li><a href="{{url_for('faq')}}">常見問題</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('login') }}">
                        {% if username != None %}
                        {{ username }}
                        {% else %}
                        登入
                        {% endif %}
                    </a>
                    <ul>
                        <li><a href="{{ url_for('login') }}">
                            {% if username != None %}
                            會員設定
                            {% else %}
                            登入
                            {% endif %}
                        </a></li>
                    </ul>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div>
        <!-- End .social-icons -->
    </div>
    <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                        class="icon-close"></i></span></button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                   aria-controls="signin" aria-selected="true">登入</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                   aria-controls="register" aria-selected="false">註冊</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                 aria-labelledby="signin-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">電子郵件 *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email"
                                               required/>
                                    </div>
                                    <!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">密碼 *</label>
                                        <input type="password" class="form-control" id="singin-password"
                                               name="singin-password" required/>
                                    </div>
                                    <!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>登入</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember"/>
                                            <label class="custom-control-label" for="signin-remember">記住我</label>
                                        </div>
                                        <!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">忘記密碼？</a>
                                    </div>
                                    <!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">或是換個登入方式</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Google 登入
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Facebook 登入
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                    </div>
                                    <!-- End .row -->
                                </div>
                                <!-- End .form-choice -->
                            </div>
                            <!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">您的電子郵件 *</label>
                                        <input type="email" class="form-control" id="register-email"
                                               name="register-email" required/>
                                    </div>
                                    <!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">密碼 *</label>
                                        <input type="password" class="form-control" id="register-password"
                                               name="register-password" required/>
                                    </div>
                                    <!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>註冊</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy"
                                                   required/>
                                            <label class="custom-control-label" for="register-policy">我同意 <a
                                                    href="#">隱私權政策</a> *</label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    <!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">或是用別的方式註冊</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Google 登入
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Facebook 登入
                                            </a>
                                        </div>
                                        <!-- End .col-6 -->
                                    </div>
                                    <!-- End .row -->
                                </div>
                                <!-- End .form-choice -->
                            </div>
                            <!-- .End .tab-pane -->
                        </div>
                        <!-- End .tab-content -->
                    </div>
                    <!-- End .form-tab -->
                </div>
                <!-- End .form-box -->
            </div>
            <!-- End .modal-body -->
        </div>
        <!-- End .modal-content -->
    </div>
    <!-- End .modal-dialog -->
</div>
<!-- End .modal -->

<!-- Plugins JS File -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/jquery.hoverIntent.min.js"></script>
<script src="../static/js/jquery.waypoints.min.js"></script>
<script src="../static/js/superfish.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="../static/js/main.js"></script>
</body>

<!-- molla/404.html 22 Nov 2019 10:04:04 GMT -->
</html>
